src/ZeroHungerFoodDistributionSolution.json
[{"id":"9d7a1778.4d56e8","type":"tab","label":"Data Flow","disabled":false,"info":""},{"id":"f1789a29.7ce008","type":"tab","label":"Data Flow","disabled":false,"info":""},{"id":"dfa13df0.2f36c","type":"tab","label":"Interfaces","disabled":true,"info":""},{"id":"8271df81.d336d","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"eb213d18.cd57a","type":"tab","label":"Chart Flow","disabled":false,"info":""},{"id":"5aaa8a07.0229b4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"ZERO HUNGER - FOOD DISTRIBUTION SOLUTION","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4d5126f.0c332","type":"ui_group","name":"Header","tab":"b90f6db8.3134a","order":2,"disp":false,"width":"12","collapse":false},{"id":"4b458b8b.296444","type":"ui_group","name":"Food Available In Donation Cart","tab":"23c51c46.d505e4","order":3,"disp":true,"width":"8","collapse":false},{"id":"b90f6db8.3134a","type":"ui_tab","name":"Donor Corner","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1ddb0eca.f40501","type":"ui_tab","name":"Admin Corner","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5a3dd56b.53f5bc","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1bda0c0a.2149b4","type":"ibmiot","name":"Watson IOT","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"a7bddb9a.582de8","type":"ibmiot","name":"Watson IOT","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"f71096bf.423428","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"74b423b3.bdb96c","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"e77514c9.bc4af8","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"935fa201.aa59a","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"5d5bfa53.859154","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"1e31bba1.4cd804","type":"ui_spacer","z":"9d7a1778.4d56e8","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"179cbc62.842884","type":"twilio-api","name":"","sid":"ACab6bc6556751fb582142ee9486e92503","from":"+14159430720"},{"id":"c9968538.901938","type":"ui_group","name":"Recent Donation Update","tab":"b90f6db8.3134a","order":3,"disp":true,"width":"8","collapse":false},{"id":"f2b1b5e3.6dbce8","type":"ui_group","name":"Group 1","tab":"5a3dd56b.53f5bc","order":1,"disp":true,"width":6},{"id":"84493838.2f92d8","type":"ui_group","name":"Donate Your Food","tab":"b90f6db8.3134a","order":4,"disp":true,"width":"4","collapse":false},{"id":"1eda8dfa.163cb2","type":"ui_group","name":"Donation Request For Review","tab":"1ddb0eca.f40501","order":2,"disp":true,"width":"8","collapse":false},{"id":"23c51c46.d505e4","type":"ui_tab","name":"NGO Corner","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"386b5b7.3c852a4","type":"ui_group","d":true,"name":"Approval Area","tab":"1ddb0eca.f40501","order":3,"disp":true,"width":"6","collapse":false},{"id":"cc3660ce.06a96","type":"ui_group","name":"Donnation Chart","tab":"1ddb0eca.f40501","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5fb7b91.64bbf8","type":"ui_group","name":"Transaction Summary","tab":"b90f6db8.3134a","order":1,"disp":true,"width":"6","collapse":false},{"id":"9cca49a7.2ad7e8","type":"ui_group","name":"Transaction Summary","tab":"23c51c46.d505e4","order":2,"disp":true,"width":"6","collapse":false},{"id":"35721c51.c864b4","type":"debug","z":"f1789a29.7ce008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":624,"y":134,"wires":[]},{"id":"8166381a.877078","type":"comment","z":"f1789a29.7ce008","name":"Donation registration data to database","info":"","x":370,"y":40,"wires":[]},{"id":"d08a173.2cb57e8","type":"link in","z":"f1789a29.7ce008","name":"link in from form input","links":["bb505117.a3edd"],"x":164,"y":95,"wires":[["a53612b.99fc1f"]]},{"id":"9209a83d.3ce518","type":"cloudant out","z":"f1789a29.7ce008","name":"","cloudant":"","database":"data","service":"node-red-mzhur-2021--cloudant-1627400507602-42509","payonly":true,"operation":"insert","x":603,"y":81,"wires":[]},{"id":"a53612b.99fc1f","type":"function","z":"f1789a29.7ce008","name":"data transform/clense","func":"let currentDate = new Date();\nlet month = currentDate.getMonth()+1;\n\nlet time = currentDate.toLocaleTimeString();\n\nlet dateString = currentDate.getDate()+\"-\"+month+\"-\"+currentDate.getFullYear()+\":\"+time;\n\n//Math.floor(new Date().getTime()/1000);\nmsg.payload.updated = dateString;\n// pending status\nmsg.payload.stat = \"Pending\";\nreturn msg;//","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":344,"y":94,"wires":[["35721c51.c864b4","9209a83d.3ce518"]]},{"id":"5e09cdcf.f59754","type":"inject","z":"dfa13df0.2f36c","d":true,"name":"Inject SMS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["6c07644d.05587c"]]},{"id":"fc8ee9f.668ba18","type":"link in","z":"dfa13df0.2f36c","name":"Telstra SMS Send","links":[],"x":95,"y":320,"wires":[["6c07644d.05587c"]]},{"id":"45f70029.26203","type":"function","z":"dfa13df0.2f36c","name":"Send SMS","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/sms\"\nmsg.payload = {\n    'to': msg.smsout.to,\n    'body': msg.smsout.body\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":400,"wires":[["1a74d536.dcbd5b"]]},{"id":"6c07644d.05587c","type":"function","z":"dfa13df0.2f36c","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'INSERT_HERE',\n    'client_secret': 'INSERT_HERE',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":320,"wires":[["7dd6d5d9.926a7c"]]},{"id":"fd59d9a9.55f878","type":"comment","z":"dfa13df0.2f36c","name":"TelstraDev SMS","info":"","x":340,"y":200,"wires":[]},{"id":"7dd6d5d9.926a7c","type":"http request","z":"dfa13df0.2f36c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":320,"wires":[["bd741975.59ae78"]]},{"id":"1a74d536.dcbd5b","type":"http request","z":"dfa13df0.2f36c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":400,"wires":[["1d8b5ef5.355031"]]},{"id":"1d8b5ef5.355031","type":"debug","z":"dfa13df0.2f36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"bd741975.59ae78","type":"json","z":"dfa13df0.2f36c","name":"","property":"payload","action":"","pretty":false,"x":570,"y":320,"wires":[["ac979c19.247ff","45f70029.26203"]]},{"id":"ac979c19.247ff","type":"debug","z":"dfa13df0.2f36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"b333a399.2904a","type":"comment","z":"dfa13df0.2f36c","name":"Twilio SMS","info":"","x":320,"y":460,"wires":[]},{"id":"5b815ace.f3c774","type":"link in","z":"dfa13df0.2f36c","name":"Twilio SMS Send","links":[],"x":195,"y":520,"wires":[["ca5ae23c.d2c86"]]},{"id":"ca5ae23c.d2c86","type":"function","z":"dfa13df0.2f36c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":520,"wires":[[]]},{"id":"f75592cd.25703","type":"comment","z":"dfa13df0.2f36c","name":"SMS Webhook","info":"Create webhook for SMS into platform to send a response back ","x":340,"y":60,"wires":[]},{"id":"ea4ffdae.96d7c","type":"http in","z":"dfa13df0.2f36c","name":"","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["28d29a6c.6924d6"]]},{"id":"28d29a6c.6924d6","type":"debug","z":"dfa13df0.2f36c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"caf53209.5912f","type":"comment","z":"8271df81.d336d","name":"Display Approved Records","info":"","x":458,"y":74,"wires":[]},{"id":"62e4dedb.4b487","type":"debug","z":"8271df81.d336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":692,"y":952,"wires":[]},{"id":"2e1468b8.018468","type":"inject","z":"8271df81.d336d","name":"clear the form","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":162,"y":892,"wires":[[]]},{"id":"52f2aea2.36796","type":"change","z":"8271df81.d336d","name":"clear form after submit","rules":[{"t":"set","p":"payload.dataMobile","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.dataName","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.dataCity","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":402,"y":892,"wires":[["4d9d8f7.c27e47"]]},{"id":"edf7bfa4.8d2c4","type":"comment","z":"f1789a29.7ce008","name":"Get data from database for donation update","info":"","x":412,"y":382,"wires":[]},{"id":"3f6d33f6.83bf8c","type":"link in","z":"8271df81.d336d","name":"Donnation Recent update","links":["bd14527f.04534"],"x":259,"y":382,"wires":[["243cb624.71cd7a"]]},{"id":"721150cb.859d7","type":"inject","z":"f1789a29.7ce008","name":"connect to database","props":[{"p":"payload"}],"repeat":"20","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"payload","payloadType":"msg","x":159,"y":437,"wires":[["ae6074.7758af9"]]},{"id":"ae6074.7758af9","type":"cloudant in","z":"f1789a29.7ce008","name":"","cloudant":"","database":"data","service":"node-red-mzhur-2021--cloudant-1627400507602-42509","search":"_all_","design":"","index":"","x":435,"y":446,"wires":[["c4f93411.7a2c58"]]},{"id":"1e2080a0.1a738f","type":"debug","z":"8271df81.d336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":336,"wires":[]},{"id":"f4fc8787.6426b8","type":"link out","z":"8271df81.d336d","name":"clear table","links":[],"x":717,"y":892,"wires":[]},{"id":"4d9d8f7.c27e47","type":"function","z":"8271df81.d336d","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":602,"y":892,"wires":[["f4fc8787.6426b8"]]},{"id":"1c528443.c3ca5c","type":"ui_form","z":"9d7a1778.4d56e8","name":"","label":"Donor Details","group":"84493838.2f92d8","order":2,"width":"0","height":"0","options":[{"label":"Enter Mobile Number","value":"dataMobile","type":"text","required":true,"rows":null},{"label":"Enter Name","value":"dataName","type":"text","required":true,"rows":null},{"label":"Enter City","value":"dataCity","type":"text","required":true,"rows":null},{"label":"Food Items","value":"dataFoodItem","type":"text","required":true,"rows":null}],"formValue":{"dataMobile":"","dataName":"","dataCity":"","dataFoodItem":""},"payload":"","submit":"submit","cancel":"","topic":"y1","topicType":"msg","splitLayout":"","x":260,"y":360,"wires":[["b329ae0c.e0e76","bb505117.a3edd","5a8c257d.c9031c"]]},{"id":"3d779e00.97bf52","type":"ui_template","z":"9d7a1778.4d56e8","d":true,"group":"d4d5126f.0c332","name":"","order":1,"width":"0","height":"0","format":"\n\n<div>\n    <h2>ZERO HUNGER VISION{{msg.payload.location}}</h2>\n    <table>\n        <tr>\n            <td>Our Vision</td>\n            <td><b>{{msg.payload.tempc}}&#176;C</b></td>\n        </tr>\n        <tr>\n            <td>Donors</td>\n            <td><b>{{msg.payload.humidity}}%</b></td>\n        </tr>\n        <tr>\n            <td>NGO Volunteers</td>\n            <td><b>{{msg.payload.windspeed}}m/sec</b></td>\n        </tr>\n        <tr>\n            <td>NGO</td>\n            <td><b>{{msg.payload.sunrise}}</b></td>\n        </tr>\n    </table>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":573,"y":306,"wires":[[]]},{"id":"b94667b5.a391d8","type":"openweathermap","z":"8271df81.d336d","d":true,"name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":312,"y":972,"wires":[[]]},{"id":"bb505117.a3edd","type":"link out","z":"9d7a1778.4d56e8","name":"","links":["d08a173.2cb57e8"],"x":615,"y":460,"wires":[]},{"id":"b329ae0c.e0e76","type":"debug","z":"9d7a1778.4d56e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"520fbe82.0012c","type":"ui_table","z":"8271df81.d336d","group":"c9968538.901938","name":"Transacted Donations","order":1,"width":"8","height":"5","columns":[],"outputs":0,"cts":false,"x":653,"y":422,"wires":[]},{"id":"5a8c257d.c9031c","type":"link out","z":"9d7a1778.4d56e8","name":"","links":["abc5446b.dd3fd8","ed7e6449.847958"],"x":316.5,"y":459,"wires":[]},{"id":"ed7e6449.847958","type":"link in","z":"f1789a29.7ce008","name":"Twilio SMS Send","links":["5a8c257d.c9031c"],"x":205,"y":245,"wires":[["8d6eb313.35382"]]},{"id":"8d6eb313.35382","type":"function","z":"f1789a29.7ce008","name":"","func":"// let max = msg.payload.length;\n\n// msg.payload = msg.payload.array[max-1];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":392,"y":269,"wires":[["bf6785bf.2f5e08","e51ac987.160828"]]},{"id":"bf6785bf.2f5e08","type":"twilio out","z":"f1789a29.7ce008","twilio":"179cbc62.842884","twilioType":"sms","url":"","number":"+917477368653","name":"","x":616,"y":256,"wires":[]},{"id":"e51ac987.160828","type":"debug","z":"f1789a29.7ce008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":603.5,"y":309,"wires":[]},{"id":"64a223b0.2d911c","type":"comment","z":"f1789a29.7ce008","name":"Twillio messaging","info":"","x":408.5,"y":202,"wires":[]},{"id":"fcc38937.d98de8","type":"function","z":"8271df81.d336d","name":"","func":"msg.dStore = msg.payload;\n\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n     //put condition based on status and return hence\n     if (element.Status === \"Approved\"){\n     return{\n        \"MobileNo\":element.MobileNo,\n        \"Name\":element.Name,\n        \"City\":element.City,\n        \"Food\":element.Food\n       // \"Status\": element.Status\n     };\n     }\n});\nmsg.payload = msg.payload.filter(element => element !== undefined);\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":395,"y":204,"wires":[["e36479b7.6673f8","80c34798.a8ea18"]]},{"id":"8f6ae40e.ce2408","type":"link in","z":"8271df81.d336d","name":"Push Approved Data","links":["bd14527f.04534","296e2069.64f8d"],"x":215.5,"y":196,"wires":[["fcc38937.d98de8"]]},{"id":"fec60678.798188","type":"comment","z":"9d7a1778.4d56e8","name":"Donor registration","info":"","x":403.5,"y":239,"wires":[]},{"id":"c4f93411.7a2c58","type":"function","z":"f1789a29.7ce008","name":"Read value from DB","func":"msg.dStore = msg.payload;\n\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n     //put condition based on status and return hence\n     return{\n        \"MobileNo\":element.dataMobile,\n        \"Name\":element.dataName,\n        \"Food\":element.dataFoodItem,\n        \"City\":element.dataCity,\n        \"Status\":element.stat\n     };\n});\n\nreturn msg;\n//return msg.dStore","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":354,"y":528,"wires":[["bd14527f.04534","da563de4.f3938"]]},{"id":"bd14527f.04534","type":"link out","z":"f1789a29.7ce008","name":"Fetch data","links":["8f6ae40e.ce2408","3f6d33f6.83bf8c","cb1f5230.2f5ea"],"x":676,"y":467,"wires":[]},{"id":"da563de4.f3938","type":"debug","z":"f1789a29.7ce008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":689.5,"y":588,"wires":[]},{"id":"782b566c.2959b8","type":"function","z":"8271df81.d336d","d":true,"name":"refresh table ","func":"msg.payload = {\n    \"limit\": 7,\n    \"sort\": [\n        {\n            \"updated\": \"desc\"\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":422,"y":718,"wires":[[]]},{"id":"e36479b7.6673f8","type":"debug","z":"8271df81.d336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":589.5,"y":133,"wires":[]},{"id":"f83f21c7.5b7ea","type":"comment","z":"8271df81.d336d","name":"Display Transacted Records","info":"","x":450.5,"y":274,"wires":[]},{"id":"243cb624.71cd7a","type":"function","z":"8271df81.d336d","name":"","func":"msg.dStore = msg.payload;\n\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n     //put condition based on status and return hence\n     if (element.Status === \"Transacted\"){\n     return{\n      \"MobileNo\":element.MobileNo,\n        \"Name\":element.Name,\n        \"City\":element.City,\n        \"Food\":element.Food\n       // \"Status\": element.Status\n     };\n     }\n});\nmsg.payload = msg.payload.filter(element => element !== undefined);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":406.5,"y":355,"wires":[["1e2080a0.1a738f","520fbe82.0012c"]]},{"id":"80c34798.a8ea18","type":"ui_table","z":"8271df81.d336d","group":"4b458b8b.296444","name":"Approved Donations","order":1,"width":"8","height":"5","columns":[],"outputs":0,"cts":false,"x":609,"y":207,"wires":[]},{"id":"cb1f5230.2f5ea","type":"link in","z":"8271df81.d336d","name":"","links":["bd14527f.04534"],"x":251.5,"y":626,"wires":[["97c3b5ee.de2188"]]},{"id":"97c3b5ee.de2188","type":"function","z":"8271df81.d336d","name":"","func":"msg.dStore = msg.payload;\n\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n     //put condition based on status and return hence\n     if (element.Status === \"Pending\"){\n     return{\n        \"MobileNo\":element.MobileNo,\n        \"Name\":element.Name,\n        \"City\":element.City,\n        \"Food\":element.Food\n        \n       // \"Status\": element.Status\n     };\n     }\n});\nmsg.payload = msg.payload.filter(element => element !== undefined);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":412.5,"y":626,"wires":[["a98b51eb.05a57","9f47f942.7ebc98"]]},{"id":"a98b51eb.05a57","type":"ui_table","z":"8271df81.d336d","group":"1eda8dfa.163cb2","name":"Pending Donations","order":2,"width":"8","height":"5","columns":[],"outputs":0,"cts":false,"x":653.5,"y":651,"wires":[]},{"id":"9f47f942.7ebc98","type":"debug","z":"8271df81.d336d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":634.5,"y":566,"wires":[]},{"id":"6561aca7.f4dce4","type":"comment","z":"8271df81.d336d","name":"Display Pending Records","info":"","x":451.5,"y":509,"wires":[]},{"id":"70c6d32b.eb9f5c","type":"comment","z":"9d7a1778.4d56e8","name":"Admin Approval Flow","info":"Approval feature to be developed in future","x":397.5,"y":43,"wires":[]},{"id":"f80b5de7.8d32e","type":"ui_chart","z":"eb213d18.cd57a","name":"","group":"cc3660ce.06a96","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":184,"wires":[[]]},{"id":"fbbf9a60.951318","type":"comment","z":"eb213d18.cd57a","name":"Chart for Admin corner","info":"","x":394,"y":66,"wires":[]},{"id":"cd4e7629.fb2ad8","type":"cloudant in","z":"eb213d18.cd57a","name":"","cloudant":"","database":"data","service":"node-red-mzhur-2021--cloudant-1627400507602-42509","search":"_all_","design":"","index":"","x":354,"y":222,"wires":[["989d552f.f63c38","87443e38.da568"]]},{"id":"989d552f.f63c38","type":"function","z":"eb213d18.cd57a","name":"","func":"labels = [\"Pending\",\"Approved\",\"Transacted\"];\nstatus = [];\nvar pendCount=0, apprCount=0, trnCount=0;\nfor (var i=0; i<msg.payload.length; i++){\n    // labels.push(msg.payload[i].updated);\n ///   status.push(msg.payload[i].stat)\n    \n    if(msg.payload[i].stat ===\"Pending\"){\n        pendCount +=1;\n    }else if (msg.payload[i].stat ===\"Approved\"){\n        apprCount +=1;\n    }else if(msg.payload[i].stat ===\"Transacted\"){\n        trnCount +=1;\n    }\n}\n//put count in array\nstatus.push(pendCount);\nstatus.push(apprCount);\nstatus.push(trnCount);\n\nmsg.payload = [{\n    \"series\": [ \"Count\"],\n    \"data\": status,\n    \"labels\": labels\n}]\n\n \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":542.5,"y":140,"wires":[["f80b5de7.8d32e","7de84d37.a60e24","359dcc86.68f7b4","d0c3a79e.3ec198"]]},{"id":"7de84d37.a60e24","type":"debug","z":"eb213d18.cd57a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":686.5,"y":306,"wires":[]},{"id":"87443e38.da568","type":"debug","z":"eb213d18.cd57a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":358.5,"y":312,"wires":[],"l":false},{"id":"c7df3fcd.52a09","type":"inject","z":"eb213d18.cd57a","name":"Inject Data To Chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140.5,"y":148,"wires":[["cd4e7629.fb2ad8"]]},{"id":"359dcc86.68f7b4","type":"ui_chart","z":"eb213d18.cd57a","name":"","group":"c5fb7b91.64bbf8","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":687,"y":69,"wires":[[]]},{"id":"d0c3a79e.3ec198","type":"ui_chart","z":"eb213d18.cd57a","name":"","group":"9cca49a7.2ad7e8","order":0,"width":0,"height":0,"label":"chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":725,"y":125,"wires":[[]]}]